@font-face{
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  src:url("../fonts/Roboto/Roboto-Light.ttf") format('truetype');
}

@font-face{
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: normal;
  src:url("../fonts/Roboto/Roboto-Bold.ttf") format('truetype');
} 

@font-face{
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: normal;
  src:url("../fonts/Roboto/Roboto-Medium.ttf") format('truetype');
} 

@font-face{
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src:url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
} 

@font-face{
  font-family: "Roboto-ThinItalic";
  font-style: normal;
  font-weight: normal;
  src:url("../fonts/Roboto/Roboto-ThinItalic.ttf") format('truetype');
} 

@font-face{
  font-family: "Handlee";
  font-style: normal;
  font-weight: normal;
  src:url("../fonts/Handlee/Handlee-Regular.ttf") format('truetype');
}

/*** Rubik */
@font-face{
    font-family: "Rubik-Light";
    font-style: normal;
    font-weight: normal;
    src:url("../fonts/Rubik/static/Rubik-Light.ttf") format('truetype');
}
@font-face{
    font-family: "Rubik-Bold";
    font-style: normal;
    font-weight: normal;
    src:url("../fonts/Rubik/static/Rubik-Bold.ttf") format('truetype');
}
@font-face{
    font-family: "Rubik-Regular";
    font-style: normal;
    font-weight: normal;
    src:url("../fonts/Rubik/static/Rubik-Regular.ttf") format('truetype');
}
@font-face{
    font-family: "Indonesia-Merdeka";
    font-style: normal;
    font-weight: normal;
    src:url("../fonts/indonesia_merdeka/indonesia_merdeka.ttf") format('truetype');
  }
/*--- --**/
body{
    margin:0px;
    color: #555!important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik-Bold";
    line-height: 1.2;
    font-weight: 700;
    /* color: #313131; */
}


.lista-productos li:before {
    font-family: FontAwesome;
    content: "\f069";
    font-size: 20px;
    color: #EC65C6;
    margin-right: 5px;
}

.lista-mision li:before {
    font-family: FontAwesome;
    /*content: "\f044";*/
    content: "\f056";
    font-size: 20px;
    color: #199f88;
    margin-right: 5px;
}

.lista-valores li:before {
    font-family: FontAwesome;
    content: "\f058";
    font-size: 20px;
    color: #199f88;
    margin-right: 5px;
}
.mensaje-mision{
    max-height: 300px!important;
    overflow-x: hidden!important;
    text-align: left!important;
}
.btn-header{
	padding-bottom: 15px;	
}
.description-header,.description-text{
    font-family: "Rubik-Light"!important;
}
.texto-parrafos{
	font-size: 15px;
    text-align: justify;
    font-family: "Rubik-Light"!important;
}
.texto-centrado{
    text-align: center;
}


/*--Slider --*/
.g-pb-70 {
    padding-bottom: 5rem !important;
}
.g-pt-100 {
    padding-top: 7.14286rem !important;
}

.texto_parallax {
    margin: 0 auto;
    color: #fff;
}
.g-bg-cover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.g-bg-black-opacity-0_6--after::after {
    background-color: rgba(0,0,0,.2)!important;
}
.g-bg-cover {
    position: relative;
}
.g-bg-cover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.g-bg-black-opacity-0_3--after::after, .g-bg-black-opacity-0_3--before::before {
    /*background-color: rgba(0, 0, 0, 0.3) !important;*/
}
.g-bg-pos-top-center {
    background-position: top center;
}
.g-bg-img-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ml-auto {
    margin-left: auto!important;
}
.mr-auto {
    margin-right: auto!important;
}
.parallax-gradient::after {
	background-image: -moz-linear-gradient(90deg, rgba(218,249,212, 0.2), rgba(252,254,253, 0.2) 100%);
	background-image: -webkit-linear-gradient(90deg, rgba(218,249,212, 0.2), rgba(252,254,253, 0.2) 100%);
	background-image: linear-gradient(90deg, rgba(218,249,212, 0.2), rgba(252,254,253, 0.2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#358ef5", endColorstr="#358ef5", GradientType=1);
}
.aliados{
	padding-top: 150px;
	padding-bottom: 150px;
}
.bloque-about{
	padding-top: 95px;
}
.img-flag {
    width: 50px;
    /*margin-top: 30px;*/
    /*margin-top: 25px;*/
    cursor: pointer;
    height: 25px;
}

.bloque-inicial{
    padding-bottom: 35px;
}

.centrado{
    margin: 0 auto;
    display: flex;
}

.centrado-base{
    margin: 0 auto;
}

.icon-box-title{
    color: #000!important;
    margin: 0 -4px 0px 0;
    letter-spacing: 2px!important;
    font-size: 28px;
    text-transform: uppercase!important;
    padding: 10px;
    font-family: "Rubik-Bold";
}
.icon-box-title h6 {
    font-weight: bold!important;
}
.icon-box-content{
    /*padding: 10px;*/
    text-align: justify;
    font-family: "Rubik-Light";

}
#izquierda, #centro, #derecha{
    cursor: pointer;
}
.icon-box-icon {
    font-size: 38px!important;
    /*font-size: 56px!important;*/
    color: #4a90e2!important;
    /* margin: 0 0 0px; */
    margin-top:5px;
    -webkit-transition: all .4s linear!important;
    transition: all .4s linear!important;
}
.fa-inverse {
    color: #fff;
    background: #199f88;
    border-radius: 70px 70px 70px 70px;
}
.fa-inverse {
    color: #fff;
}
.fa-stack-1x {
    line-height: inherit;
}
.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.super_contenedor_redes{
    margin: 0px auto;
    /*padding: 30px;*/
    padding: 30px 0px 30px 0px;
}

.cuerpo_redes{
    padding-bottom: 45px;
    padding-top: 75px;
}

.iconos_redes{
    text-align: center;
}

.iconos_pasos{
    font-size: 25pt;
    cursor: pointer;
    text-align: center;
    float: left;
    margin: 0 auto;
    display: flex;
    /*padding: 3px 5px 5px 0px;*/
}

.color_icono{
    color: #64a8de;
    text-decoration: none;
}

.color_icono2 {
    color: #fff;
    text-decoration: none;
}

.redes_individual{
    color: #64a8de;
}

.redes_individual:hover{
    color: #006c9e;
}

.contenedor_icono_pasos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    float: left;
    margin-bottom: 20px;
} 

.content_video{
  width: 100%;
  height: 450px!important;
  float: left;
  position: relative;
}

.content_iframe_video{
  width: 100%;
  height: 400px;
  position: absolute;
  top: 28px;
  background: #000;
}

#contenedor_vi{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tituloVideo{
  /*margin-top: 10px;*/
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
}

#subtitulos_videos{
  font-size: 14pt;
  font-weight: bold;
}

#paginacion_consulta,#paginacion_consulta_videos{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 350PX;
  padding: 2%;*/
}

.p-bt-35{
    padding-bottom: 75px!important;
}

.titulos-fact{
    letter-spacing: 2px!important;
    font-size: 15px;
    text-transform: uppercase!important;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-family: "Rubik-Bold";
}

.titulos-fact-news{
    letter-spacing: 2px!important;
    font-size: 15px;
    text-transform: uppercase!important;
    padding: 0px;
    text-align: left;
    font-weight: bold;
}

.post-title-home {
    font-size: 30px;
    margin: 0 0 15px;
    letter-spacing: 2px!important;
    /* font-size: 15px; */
    text-transform: uppercase!important;
    padding: 0px;
    text-align: left;
    font-weight: bold;
    color: #fff;
}

.scroll-top{
    cursor: pointer;
}

.feature .feature-thumb img {
    width: 100%!important;
    height: 232px;
}

.post-content>:last-child {
    margin-bottom: 0;
    text-align: justify!important;
}

.img-news{
    width: 348px;
    height: 232px;
}

.hide{
    display: none;
}

.mostrar{
    display: block;
}
/*.textwidget{
    padding-top: 30px; 
}*/
.fluid-width-video-wrapper{
    padding-top: 100px!important;
}

h1>a, h2>a, h3>a, h4>a, h5>a, h6>a {
    color: #000!important;
}

.mensaje-clientes{
    margin-top: 15px;
}

h1>a:focus, h1>a:hover, h2>a:focus, h2>a:hover, h3>a:focus, h3>a:hover, h4>a:focus, h4>a:hover, h5>a:focus, h5>a:hover, h6>a:focus, h6>a:hover {
    color: #2b2b2b!important;
}

.hide{
    display: none;
}

.post-background .post-header .post-title a {
    color: #fff!important;
}

.post-meta-home, .post-meta-home a {
    color: #fff!important;
}

.post-background {
    position: relative;
    border-radius: 3px;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 40%;
    height: 300px;
}

.widget a {
    color: #4a90e2!important;
}

.footer .h1, .footer .h2, .footer .h3, .footer .h4, .footer .h5, .footer .h6, .footer a, .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
    color: #fff!important;
}

.ul-contactos{
    padding-left: 10px;
}

.ul-contactos li a{
    color: #999;
    text-align: left;
}

.ul-contactos li{
    text-align: left;
}

.icono-contactos{
    color:#4a90e2;
}

.icono-contactos:hover{
    color:#14457f;
}

.img-header{
    /*width:150px!important;*/
    width:55px!important;
    display: inline-block;
    height: 55px;
}

.separador{
    font-weight:100 ;
    font-size: 70pt;
    margin-left: 30px
}

.titulo_uniseguros, .subtitulo_uniseguros{
    text-align: right!important;
}

.subtitulo_uniseguros{
    text-align: center;
    margin-left: 30px;
}

.subtitulo_slide{
    text-align: right;
    margin-left:60px;
    font-family:"Rubik-Regular"!important;
    font-size: 28px!important;
    font-weight: 700;
}
.titulo1{
    margin-top: 170px!important;
}
.titulo2{
    margin-top: 90px!important;
    text-align: center!important;
}
.img-map{
        width: 50px!important;
}
.titulo_slide2{
    width:70%;
}
.bloque-subtitulo-tu-factoring{
    display: block;
}

.mobile-title{
    display: none;
}

.subtitulo-menu{
    border-bottom: solid 3px #fff!important;
    padding-bottom: 2px;
}

.subtitulo-menu2{
    border-bottom: solid 3px #199f88!important;
    padding-bottom: 2px;
}

.boton-nosotros{
    padding-top: 100px;
}

.div_facebook{
    margin: 0 auto;
    display: flex;
}

.btn.btn-white:focus, .btn.btn-white:hover {
    background-color: #4a90e2;
    border-color: #4a90e2;
    color: #fff !important;
    cursor: pointer;
}
.row_redes{
    display: flex;
    margin: 0 auto;
}
.feature-more{
    text-align: center;
}
.pb-35{
    padding-bottom: 35px!important;
}
.como_funciona_ver_peque{
    display: none!important;
}
.como_funciona_ver{
    display: block!important;
}
.servicios-noticias{
    display: block!important;
}
.icono-footer{
    margin-right: 10px!important;
}
.footer_text{
    font-family:"Rubik-Bold"!important;
}
.login_registrar{
    display: none!important;
}
.alert-float{
    position: fixed;
    top: 80px;
    left: 900px;
    width: 30%;
    z-index: 9999;
    border-radius: 0px;
}
/*--Iconos de servicios*/
.features-block .block-icon,.features-block2 .block-icon {
    border: 1px solid #158d78;
}

.features-block .block-icon,.features-block2 .block-icon{
    border-radius: 50%;
    display: inline-block;
    height: 75px;
    text-align: center;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 75px;
}
.ease {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.features-block:before {
    background: -moz-linear-gradient(top, rgba(21,141,120, 0) 0%, rgba(21,141,120, 0.9) 15%, rgba(21,141,120, 0.9) 85%, rgba(21,141,120, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(21,141,120, 0)), color-stop(15%, rgba(21,141,120, 0.9)), color-stop(85%, rgba(21,141,120, 0.9)), color-stop(100%, rgba(21,141,120, 0)));
    background: -webkit-linear-gradient(top, rgba(21,141,120, 0) 0%, rgba(21,141,120, 0.9) 15%, rgba(255, 26, 86, 0.9) 85%, rgba(255, 26, 86, 0) 100%);
    background: -o-linear-gradient(top, rgba(21,141,120, 0) 0%, rgba(21,141,120, 0.9) 15%, rgba(21,141,120, 0.9) 85%, rgba(21,141,120, 0) 100%);
    background: -ms-linear-gradient(top, rgba(21,141,120, 0) 0%, rgba(21,141,120, 0.9) 15%, rgba(21,141,120, 0.9) 85%, rgba(21,141,120, 0) 100%);
    background: linear-gradient(to bottom, rgba(21,141,120, 0) 0%, rgba(21,141,120, 0.9) 15%, rgba(21,141,120, 0.9) 85%, rgba(21,141,120, 0) 100%);
}

.features-block:before, .features-block2:before {
    display: inline-block;
    height: 90%;
    right: -1px;
    top: 5%;
    width: 1px;
}
.features-block .block-icon:before, .features-block:before, .features-block2 .block-icon:before {
    content: '';
    position: absolute;
}
.title-medium {
    font-family: "Rubik-Bold";
    font-size: 1.5rem!important;
    line-height: 2.25rem!important;
}
.font-serv{
    font-size: 32pt!important;
    color:#158d78;
}
.font-serv:hover{
    font-size: 40pt;
    cursor: pointer;
}
.text-large{
    font-family: "Rubik-Light";
}
.btn{
    font-family: "Rubik-Bold"!important;
}
.super-iconos-redes{
    color: #199f88!important;
}
.m-g-top20{
    margin-top: 20px!important;
}
.icono-add{
    font-size: 20pt;
    color:#199f88;
}
.text-axioma{
    font-family:"Roboto-ExtraBold";
}
.cuerpo-valores{
    display: flex!important;
    margin: 0 auto!important;
    padding-top: 50px!important;
}
.footer_company{
    color:#24ad58;
}
.texto-parallax{
    color: #fff!important;
    font-family: "Rubik-Bold"!important;
}
.letter-spacing-2 {
    letter-spacing: .125rem!important;
}
.bg-base-color {
    /*background-color: #158d78 !important;*/
    background-color: #6E3232 !important;
}

.sep-line-extra-thick-long, .sep-line-long, .sep-line-medium-thick-long, .sep-line-thick-long, .sep-line-thin-long {
    width: 80px;
}
.sep-line-thick, .sep-line-thick-full, .sep-line-thick-long {
    height: 4px;
}
.d-inline-block {
    display: inline-block!important;
}
.sucursales{
    cursor: pointer;
    text-align: left;
    font-family: "Rubik-Regular";
}
.sucursales-ul{
    width: 100%;
}
.icon-sucursal{
    font-size: 20pt!important;
}
.img-servicios{
    width: 100%!important;
    /*height: auto!important;*/
    height: 191px;
}
.img-buscar {
    width: 100%!important;
    /*height: auto!important;*/
    height: 236px;
}
.titulo_uniseguros{
    font-family: "Rubik-Bold";
}
.parallax-cabecera{
    padding-top: 80px!important;
}

.testimonials-card{
    width: 100%;
    height: 230px;
}

.parallax_especial{
    width: 100%;
}

.img-quienes-somos{
    width:101px!important;
}
.pt-20{
    padding-top:20px;
}
.h-title{
    font-family: "Rubik-Bold"!important;
    font-size: 40px!important;
    line-height: 1.2!important;
    font-weight: 700!important;
    margin: 30px 0 20px!important;
}
.h3-title{
    font-family: "Rubik-Bold"!important;
    font-size: 24px!important;
    line-height: 1.2!important;
    font-weight: 700!important;
    margin: 30px 0 20px!important;
    color: #000;
}
.module-title2 {
    margin: 20px 0 20px!important;
}
.circle-products-father{
    border-radius: 50%;
    border: #000 1px;
    background: #199f88;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    margin: 0 auto;
    cursor: pointer;
}
.circle-products{
    border-radius: 50%;
    border: #000 1px;
    background: #fff;
}
.caption{
    padding-top: 40px!important;
}
.productImage .productMasking:hover
{
    /* background-color: rgba(71, 186, 193, .9)!important; */
    /* background-color: #b9ca46!important; */
    background-color: rgba(25, 159, 136, 0.7)!important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
    z-index:9999999;
}
.productImage .productMasking:hover {
    /* background-color: rgba(71, 186, 193, .9)!important; */
    /* background-color: #b9ca46!important; */
    background-color: rgba(25, 159, 136, 0.7)!important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all .3s ease-in-out;
    z-index:9999999;
    cursor: pointer;
}
.productImage .productMasking {
    background-color: transparent!important;

}
.productImage .productMasking{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 186, 193, .9);
    opacity: 0;
    transition: all .3s ease-in-out
}
.gallery{
    padding-top: 40px;
}
.productGallery .slide .productImage {
    margin-bottom: 0
}

.productGallery .slide .productMasking a {
    color: #fff;
    font-size: 16px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0px;
}
.superItem{
    margin-bottom: -1px;
    width: 100%!important;
}
.padding0{
    padding: 0px!important;
}
.img-servicios{
    width: 301px!important;
}
.img-productos {
    width: 100%!important;
    height: 500px!important;
}
.img-productos-detalle{
    width: 510px;
}
.font-serif {
    font-style: italic!important;
    font-size: 20pt!important;
}
.card-servicios{
    margin-top: 60px;
}
.card-cuentas-bancarias{
    margin-top: 0px;
}
.img-card-otros-productos{
    height: 90pt;
}
.img-productos-h{
    height: 510px;
}
#descripcion_detalle_producto{
    text-align: justify;
}
.cuerpo-tab-movil{
    padding: 20px;
    display: none;
}
.descripcionAcordeon{
    text-align: justify;
}
.btn-link-productos{
    color:#000!important;
    font-family: "Rubik-Bold"!important;
    line-height: 1.2;
    font-weight: 700;
    text-decoration: none;
    white-space: normal;
    text-align: left;
    font-size:10pt;
}
.btn-link-productos:focus, .btn-link-productos:hover {
    text-decoration: none!important; 
    cursor: pointer;
}
.acordion-text-selected{
    color: #158d78 !important;
}
.title-algunos-pr{
    margin-top: 0px!important;
}
.mt50{
    margin-top: 50px;
}

.module-title-error {
    margin: 80px 0 20px!important;
}
.btn-volver{
    margin-top: 30px;
}
#descripcion_detalle_producto ol, #descripcion_detalle_producto2 ol{
    padding-left: 25px!important;
    list-style: decimal;
}
#descripcion_detalle_producto ul , #descripcion_detalle_producto2 ul{
    padding-left: 25px!important;
    list-style: disc!important;
}
#descripcion_detalle_servicio ol, #descripcion_detalle_servicio2 ol{
    padding-left: 25px!important;
    list-style: decimal;
}
#descripcion_detalle_servicio ul , #descripcion_detalle_servicio2 ul{
    padding-left: 25px!important;
    list-style: disc!important;
}
.mb-32{
    margin-bottom: 32px!important;
}
.m-b-15 {
    margin-bottom: 15px!important;
}
.texto-parrafos-cuentas-bancarias {
    font-size: 10pt;
    text-align: left;
    font-family: "Rubik-Light";
    margin: 0 0 0px!important;
}
.mt-51{
    margin-top: 51px!important;
}
.invisible{
    display: none;
}
.visible{
    display: block;
}
.widget-user .widget-user-header {
    padding: 20px;
    height: 220px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.widget-user .widget-user-image {
    position: absolute;
    top: 120px;
   /* left: 50%;
    margin-left: -65px;*/
}
.img-code {
   /*background: url(../images/parallax1.jpg) center center!important;*/
    background-repeat: no-repeat!important;
    background-size: cover!important;
    width: 100%!important;
}
.img-article-p1{
    height: 224px!important;
    width: 340px!important;
}
.center_text {
    text-align: center;
}
.widget-user .box-footer {
    padding-top: 30px;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    /*border-top: 1px solid #f4f4f4;*/
    padding: 10px;
    background-color: #fff;
}
.box-widget {
    border: none;
    position: relative;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    /*border-top: 3px solid #d2d6de;*/
    /*margin-bottom: 20px;*/
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
   /* background-image: url("../images/super_fondo.jpg");*/

}
.img-circle{
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 15%;
    width: 150px!important;
    height: 140px!important;
    border: solid 2px #18A6FD;
}
.img-circle2 {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 150px!important;
}    
.widget-user-username
{
    margin-top: 35px!important;
    font-family:"Rubik-Bold"!important;
}
.title-webzine{
    font-family:"Indonesia-Merdeka"!important;
    font-size: 50pt;    
    /*font-size: 35pt;  */  
}
.al-left{
    text-align: left!important;
}
footer.dark-bg {
    color: #fff;
}
.dark-bg, .dark-bg .item-details li:before, .dark-bg p {
    color: #fff;
    font-weight: 700;
}
.dark-bg {
    /*background-color: #3c3c3c;*/
    /*background-color: #1b4965;*/
    background-color: #000;
}

footer {
    font-size: 14px;
    line-height: 22px;
    font-family: "Rubik-Light"!important;
}
.correo-mail{
    margin-right: 5px;
}
.footer-bottom {
    /*background: #000;*/
    /*background: #5fa8d3;*/
    background: #403A68;
    color: #707e8c;
    text-align: center;
}
footer.dark-bg {
    color: #fff;
}
.dark-bg, .dark-bg .item-details li:before, .dark-bg p {
    color: #fff;
    font-weight: 700;
}
footer .inner {
    padding-top: 20px;
    padding-bottom: 15px;
}
.logo{
    margin-top: -10px;
}
.icono_serv {
    font-weight: 700;
    margin-right: 10px;
}
.contacts li a {
    color: #fff!important;
}
.social li {
    position: relative;
}

.social li a i {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 25px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.social li {
    font-family: fontello-social;
    margin-right: 4px;
}
.social {
    padding: 0;
    margin: 0;
}
.left {
    float: left;
}

.header-bloque1{
    color: #fff!important;
    /*background-color: rgba(95, 28, 28, 0.9)!important;*/
    /*background-color: rgba(24, 166, 253, 0.9)!important;*/
    background-color: rgba(95, 168, 211, 0.9)!important;
}

.header-bloque2{
    color: #fff!important;
   /* background-color: rgba(128, 128, 128, 0.9)!important;*/
   /*background-color:rgb(242,181,212, 0.9)!important;*/
   background-color:rgb(98,182,203, 0.9)!important;
   
}

.header-bloque3{
   color: #fff!important;
   background-color: rgb(24,135,253, 0.5)!important; 
}

.header-bloque4{
   color: #fff!important;
   background-color: rgba(154, 208, 221, 0.9)!important;
   
}

.header-bloque5{
   color: #fff!important;
   background-color: rgba(113, 156, 208, 0.9)!important;
}

.header-bloque6{
    color: #fff!important;
    background-color: rgb(57,149,172, 0.9)!important;
}

.header-bloque7{
   color: #fff!important;
   background-color: rgb(20,54,73, 0.8)!important;
}

.header-bloque8{
   color: #fff!important;
   background-color: rgb(115,109,214, 0.8)!important  
}

.header-bloque9{
    color: #fff!important;
    background-color: rgb(110,162,215, 0.9)!important;
}

.header-bloque10{
    color: #fff!important;
    background-color: rgb(155,216,254, 0.9)!important;
   
}
.thumbnail .imageWrapper, .mainContent .featuredCollection .thumbnail .imageWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.thumbnail .date-holder, .mainContent .latestArticles .thumbnail .date-holder {
    position: absolute;
    top: 20px;
    width: 55px;
    height: 60px;
    background: #fff;
    text-align: center;
    left: 20px;
    padding: 0;
}
.thumbnail .date-holder p {
    margin-top: 8px;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0;
    color: #797979!important;
}
.thumbnail .date-holder span {
    color: #252525;
    margin-top: 0;
    text-transform: uppercase;
}
.thumbnail span, .mainContent .latestArticles .thumbnail span {
    display: block;
    margin-bottom: 10px;
}
.user{
    font-weight: bold;
}
.title-news{
    text-align: left;
    margin-top: 35px;
    font-size: 20px;
}
.card-title-publicidad {
    margin-bottom: .75rem;
   /* background-color: rgba(95, 28, 28, 0.9)!important;*/
   background-color: rgba(27,73,101, 0.9)!important;
    color: #fff;
    padding: 5px;
}
.autor i, .meta i{
    /*color:#6E3232 !important;*/
    color:#18A6FD!important;
}
.autor{
    float: left;
    font-weight: bold;
}
#calendario{
    margin-left: 15px;
    margin-right: 15px;
}
#calendario_post{
    margin-right: 15px;
}
.descripcion-publicidad:before{
    font-family: FontAwesome;
    content: "\f138";
    font-size: 20px;
    color: #6E3232;
    margin-right: 5px;
}
.btn-inicio{
    float: right;
}
.updates {
    padding: 25px 17px;
    border-radius: 5px;
    border: 1px solid #e2e7f0;
    text-align: center;
}
.updates i {
    color: #18A6FD;
    /*
    color: #6E3232;
     color: #2083fe; */
    font-size: 22px;
    position: relative;
    margin-left: 5px;
}
.updates .div-strong{
    text-align: center;
}
.cat_blog {
    font-size: 10pt;
    text-align: left;
    cursor: pointer;
}
.productListSingle .media {
    margin-bottom: 50px;
}
.imageBox, .whiteSection .featuredProducts .slide, .mainContent .featuredProducts .slide, .productsContent .productBox {
    height: auto;
    display: block;
    margin-bottom: 40px;
}
.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.productListSingle .media .media-left {
    float: left!important;
    margin-right: 30px;
    display: inline-block;
    width: 226px;
}
.productListSingle .media .media-left {
    float: none!important;
    display: block;
    margin: 0 0 20px;
}
.productListSingle .media .media-left {
    position: relative;
    padding-right: 0;
    overflow: hidden;
}
.media-left, .media>.pull-left {
    float: left;
    padding-right: 10px;
    width: 50%;
}
.productsContent .productBox .productImage {
    width: 100%;
    height: auto;
}
.productsContent .productBox .productImage .productMasking, .whiteSection .featuredCollection .thumbnail .imageWrapper .masking, .mainContent .featuredCollection .thumbnail .imageWrapper .masking, .productListSingle .media .media-left .maskingImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 186, 193, .9);
    opacity: 0;
    transition: all .3s ease-in-out;
}
.productsContent .productBox .productImage .productMasking ul {
    width: 168px;
    height: 56px;
    background: #fff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.content-center, .imageBox .productImage .productMasking ul, .whiteSection .featuredProducts .slide .productImage .productMasking ul, .mainContent .featuredProducts .slide .productImage .productMasking ul, .productsContent .productBox .productImage .productMasking ul {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.order-1 p, .div-btn-buscador {
    float: left;
}
.mas_post i{
    margin-right: 5px;
    /*color: #6E3232 !important;*/
    color: #18A6FD!important;
}
.font-titulos{
    font-size: 20px!important;
}
.img-productos-error {
    width: 200px;
}
.publicidad-movil{
    display: none;
}
.subtitulos{
    font-size: 16px;
}
.cuerpo-detalle-publi-movil{
    display: none;
}
.img-center-zine{
    text-align: center!important;
    width: 100vw!important;
}
.scroll-top {
    background: #EC65C6!important;
}    
.columna-img{
    display: flex;
    margin: 0 auto;
}
.img-ppal-producto{
    /*width:600px;*/
    height:400px;
    border-radius: 18%;
}
#formProducto{
    padding: 5%;
}

.btn-producto, .btn-producto2{
    padding: 15px!important;
    margin-top: 5px;
    border-radius: 15px;
    padding: 15px!important;

}

.btn-producto2{
    float: right;
}

.ul_productos{
    font-size: 20pt;
}
.media-productos{
    display: flex;
    align-items: center;
}
.titulo_producto{
    font-family: "Indonesia-Merdeka"!important;
    font-size: 32pt;
    font-weight: 100;
    text-decoration: underline;
}
.titulo-precio{
    font-size: 25pt;
}
/*---------------------*/
/*---Bloque de media queries... ----*/

@media (max-width: 1200px){
    .titulo_uniseguros{
        font-size: 80px!important;
    }
    
}
@media (max-width: 1100px){
    .img-productos {
        height: 400px!important;
    }
}
@media (max-width: 1000px){
    .titulo_uniseguros{
        font-size: 65px!important;
    }
    
}

@media(max-width: 950px){
    .h1, h1 {
        font-size: 35px;
    }
}

@media (max-width: 995px){
    .features-block:before{
        background: #fff!important;
    }
    .mt-950{
        margin-top: 50px!important;
    }
    .img-card-otros-productos {
       height: auto;
    }
    .img-productos-h{
        height: 72px;
    }
}

@media(max-width: 999px){
    #section_youtube{
        padding-bottom: 100px!important;
    }
}

@media (max-width: 990px){
    .ocultar-publicidad{
        display: none;
    }
    .publicidad-movil{
        display: block;
    }
    footer .logo {
        margin: 0 auto!important;
        display: flex!important;
    }
    footer p {
        text-align: center;
    }
    .subtitulos {
        text-align: center;
    }
    .parrafos-footer {
        text-align: center;
    }
}

@media(max-width: 991px){
    .img-productos {
        height: 300px!important;
    }
    .algunos-servicios-publicidad{
        display:none;
    }
    /*
    .cuerpo-tab{
        display: none;
    }
    */
    .cuerpo-tab-movil{
        display: block;
    }
    .cuerpoAlgunosProductosDetalleServicios{
        display: none;
    }
    .cuerpoAlgunosProductosServ{
        display:none;
    }
    .cuerpo-detalle-publi{
        display: none;
    }
    .cuerpo-detalle-publi-movil{
        display: block;
    }
}

@media(max-width: 991px){
    .img-ppal-producto{
        height: 300px;
        /*height: 350px;*/
    }
}    
/*--de 0 a 993--*/
@media(max-width: 992px){
    /*.widget-user .widget-user-image {
        left: 50%;
    }    */
}
/*-- --*/
@media (max-width: 993px){
    .titulo_uniseguros{
        font-size: 45pt!important;
    }
    .title-medium {
        font-size: 1rem!important;
    } 
}

@media (max-width: 900px){
  
    .img-productos-h{
        height: auto;
    }
}


@media(min-width: 310px) and (max-width: 990px){
    .como_funciona_ver_peque{
        display: block!important;
    }
    .como_funciona_ver{
        display: none!important;
    }
    .servicios-noticias{
       display: none!important;
    }
    .slides-pagination {
        /*bottom: 190px!important;*/
        /*bottom: 70px!important;*/
        bottom: 100px!important;
    }
}
/*-- de 993 al infinito --*/
@media (min-width: 993px){
    .hidden-lg {
        display: none !important;
    } 
    .tamano_twitter{
        width:300px;
    }
         
}

@media (max-width: 990px){
    .social li {
        position: relative;
        padding-left: 12%;
    }
}

@media (max-width: 991px){
    .card-cuentas-bancarias{
        margin-top: 60px;
    }
    .texto-parrafos-cuentas-bancarias {
        text-align: center!important;
    }
}

@media (max-width:982px) {

    .titulo1 {
        margin-top: 114px!important;
    }
}

@media (max-width:767px) {
    .img-productos {
        height: 200px!important;
    }
    .titulo1 {
        margin-top: 160px!important;
    }
    .features-block:before{
        background: #fff;
    }
    .text-servicios{
        text-align: justify;
    }
    .text-axioma{
        text-align: center;
    }
    .ul-acerca li,.ul-acerca li, .ul-productos li, .ul-contactanos li{
        text-align: center;
    }
   .cuerpoAlgunosProductos{
        display: none;
    }
    .redes-f {
        width: 40%!important;
        margin: 0 auto!important;
        display: flex!important;
    }
    /*
    .cuerpo-detalle{
        padding-top: 200px!important;
    }
    */
    #section_youtube{
        padding-bottom:180px!important;
    }
    .img-servicios {
        width: 100%!important;
    }  

    .singleProduct .media .productSlider {
        width: 100%;
        padding: 0 0 10px!important;
    }
}
@media (max-width: 760px){
    .social li {
        padding-left: 0;
    }
    .social_li2 {
        margin: 0 auto!important;
        margin-right: 0;
    }
}

@media(max-width: 500px){
     #section_youtube{
        padding-bottom:100px!important;
    }
}

@media (max-width: 575px) {
    .hidden-xs {
        display: none !important;
    }
    .tamano_twitter{
        width:300px;
        /*margin-top: 70px;*/
    }
    #contactForm{
        width: 100%!important;
    }
    .ocultar_servicios{
        display: none;
    }
    .quienesSomosCuadro{
        padding-right: 0px;
        padding-left: 0px;
    }
    .cuadro-tw{
        padding-right: 0px!important;
    }  
    .img-productos {
       /* width: 162px!important;*/
        height: 160px!important;
    }  
}
/*
.footer_company{
    color:#24ad58;
}
.texto-parallax{
    color: #fff!important;
    font-family: "Roboto-Bold"!important;
}
.letter-spacing-2 {
    letter-spacing: .125rem!important;
}
.bg-base-color {
    background-color: #158d78 !important;
}

.sep-line-extra-thick-long, .sep-line-long, .sep-line-medium-thick-long, .sep-line-thick-long, .sep-line-thin-long {
    width: 80px;
}
.sep-line-thick, .sep-line-thick-full, .sep-line-thick-long {
    height: 4px;
}
.d-inline-block {
    display: inline-block!important;
}
.sucursales{
    cursor: pointer;
    text-align: left;
    font-family: "Roboto-Regular";
}
.sucursales-ul{
    width: 100%;
}
.icon-sucursal{
    font-size: 20pt!important;
}
.img-servicios{
    width: 100%!important;
    height: auto!important;
}
.titulo_uniseguros{
    font-family: "Roboto-Bold";
}
.parallax-cabecera{
    padding-top: 80px!important;
}
*/

@media (max-width: 767px) {
    .titulo-precio,.titulo_producto{
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .hidden-sm {
        display: none !important;
    }
    .ocultar_servicios{
        display: none;
    }
    .tamano_twitter{
        width:500px;
    }
   
   
}

@media (min-width: 768px) and (max-width: 992px) {
    .hidden-md {
        display: none !important;
    }
    .tamano_twitter{
        width:200px;
    }
}

@media(max-width: 500px){
    
    .carousel-caption {
        top: 30%!important;
    }
    
    .title_carrousel {
        font-size: 20pt!important;
    }
    
    .super_contenedor_redes{
        margin: 0px auto;
        padding: 0px;
    }

    .separador{
        display: none
    }

    .titulo_uniseguros{
        font-size:35px;
    }

    .titulo_uniseguros{
       text-align: center!important;
    }

    .subtitulo_slide, .subtitulo_uniseguros{
        font-size: 16px!important;
    }
    
    .subtitulo_slide {
        text-align: center;
        margin-left: 0px;
    }
    
    .subtitulo_uniseguros{
        font-size: 16px!important;
        text-align: center;
        margin-left: 0px;
    }

    .mobile-title{
        display: block;
    }
    /*
    .bloque-subtitulo-tu-factoring, .subtitulo_slide_grande{
        display: none;
    }
    */
    #parrafos_clientes3, #parrafos_clientes2, #parrafos_clientes1{
        padding:20px;
    }
    
    .content_video {
        height: 200px!important;
    }

    .content_video {
        width: 100%;
        height: 550px;
        float: left;
        position: relative;
    }

    .content_iframe_video {
        width: 100%;
        height: 200px!important;
        position: absolute;
        top: 28px;
        background: #000;
    }

    #reproductor{
        height: 260px!important;
    }

    .video-muestra{
        margin-top: 40px;
    }
    .ul-contactos li {
        text-align: center!important;
    }
    .div-contact-names{
        text-align: center;
    }
    .ul-contactos {
        width: 100%;
    }
    .form-contact{
        text-align: center!important;
    }
    .imagen-footer{
        margin: 0px auto;
        display: flex;
    }
    #texto{
        text-align: center;
    }
    .widget-title{
        text-align: center;
    }
    .feature-thumb img {
       /* width: 100% !important;*/
        height: auto!important;
        display: flex;
        margin: 0 auto;
    }
    .lista-localizacion{
        margin:20px;
    }
    
}

@media(min-width: 500px){
    .img-news{
        width: 100%!important;
        height: auto!important;
    }
}
@media(max-width: 450px){
    .img-productos {
        /* width: 162px!important;*/
        height: 150px!important;
    } 
} 
@media(min-width: 501px) and (max-width: 767px){
    /*----- Elementos de slider ----*/
     .separador{
        display: none
    }

    .titulo_uniseguros{
        font-size:35px;
    }

    .titulo_uniseguros{
       text-align: center!important;
    }

    .subtitulo_slide, .subtitulo_uniseguros{
        font-size: 16px!important;
    }
    
    .subtitulo_slide {
        text-align: center;
        margin-left: 0px;
    }
    
    .subtitulo_uniseguros{
        font-size: 16px!important;
        text-align: center;
        margin-left: 0px;
    }

    .mobile-title{
        display: block;
    }
    
    /*.bloque-subtitulo-tu-factoring, .subtitulo_slide_grande{
        display: none;
    }*/
    /*--- ---*/
    /*--- servicios---*/
    /*.feature .feature-thumb img {
        width: 50% !important;
        height: 180px !important;
        display: flex;
        margin: 0 auto;
    }*/
    .feature-thumb img {
        /*width: 100% !important;*/
        height: auto!important;
        display: flex;
        margin: 0 auto;
    }
    /*--- ---*/
    #texto_footer{
        text-align: center;
    }
    .div-contact-names{
        text-align: center; 
    }
    

    #parrafos_clientes3, #parrafos_clientes2, #parrafos_clientes1 {
       padding: 30px;
    }

    .ul-contactos li {
        text-align: center!important;
    }

    .contact-names{
        text-align: center!important;
    }
    
    .ul-contactos {
        width: 100%;
    }
    
    .form-contact{
        text-align: center!important;
    }
    
    .imagen-footer{
        margin: 0px auto;
        display: flex;
    }
    
    #texto{
        text-align: center;
    }
    
    .widget-title{
        text-align: center;
    }
    /*
    .ul-contactos #subtitulo-contacto {
        text-align: left!important;
        margin-left: 15px!important;
    }

    #titulo-contacto{
        text-align: left;
    }*/

    .content_video {
        height: 200px!important;
    }

    .content_video {
        width: 100%;
        height: 550px;
        float: left;
        position: relative;
    }

    .content_iframe_video {
        width: 100%;
        height: 260px!important;
        position: absolute;
        top: 28px;
        background: #000;
    }

    #reproductor{
        height: 350px!important;
    }

    .tituloVideo {
        margin-top: 160px;
        font-size: 15pt;
        font-weight: bold;
        text-align: center;
    }

    #contenedor_vi{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}

@media(max-width: 750px){
    .cuerpo_vision{
        padding-top: 50px!important;
    }
}

@media(max-width: 768px){
    .login_registrar{
        display: block!important;
    }
    .alert-float {
        position: fixed;
        top: 80px;
        left: 0vh;
        float: right;
        width: 100%;
        z-index: 9999;
        border-radius: 0px;
    }

}

@media(min-width: 768px) and (max-width: 999px){
    .img-header {
        width: 200px !important;
    }

    .separador{
        font-weight:80 ;
        font-size: 120pt;
        margin-left: 30px
    }
    /*
    *   Para el video
    */
    .content_video {
        height: 350px!important;
    }

    .content_video {
        width: 100%;
        height: 350px;
        float: left;
        position: relative;
    }

    .content_iframe_video {
        width: 100%;
        height: 350px!important;
        position: absolute;
        top: 28px;
        background: #000;
    }
/*
    #reproductor{
        height: 450px!important;
    }
*/
    #contenedor_vi {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /***/
}

@media (min-width: 993px) {
   /* 
    #reproductor{
        height: 600px!important;
    }
    */
    .content_video{
        height:400px;    
    }

   
}

@media (min-width: 999px) {
    #contenedor_vi {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 992px) {
    .parallax-cabecera {
        padding-top: 0px!important;
    }
}

@media(max-width: 479px){
    .testimonials-card {
        width: 100%;
        height: auto;
    }
}

@media(max-width: 415px){
    
    .titulo_uniseguros {
        font-size: 35pt!important;
    }

}

@media(max-height: 400px){
    .treeview{
        max-height: 60px;
        overflow-x: hidden;
    }
}   
/*Movil en horizontal*/
/*@media(max-height: 360px){
    .subtitulo_slide {
        font-size: 20px!important;
    }
} */   

@media(max-height: 450px){
    .titulo_uniseguros {
        font-size: 30pt!important;
    }
    .subtitulo_slide_grande{
        margin-bottom: 0px!important;
    }
    .slides-pagination {
      bottom: 0px!important;
    }
    .titulo1,.titulo2 {
        margin-top: 0px!important;
    }  
    .subtitulo_slide {
        font-size: 20px!important;
    }  
}
/*Fin de movil en horizontal*/
@media(max-width: 390px){
    .texto-parallax {
        font-size: 20pt!important;
    } 
    .titulo_uniseguros {
        font-size: 40pt!important;
    }   
}    

@media(max-width: 370px){
    .font-titulos {
        font-size: 18px!important;
    }
    .img-productos {
        height: 120px!important;
    }
}
    
@media(max-width: 350px){
    .titulo_uniseguros {
        font-size: 30pt!important;
    } 
    .h1, h1 {
        font-size: 30px;
    }  
    .btn-producto{
        font-size: .625rem;
    }
}
@media (max-width: 320px){
    .btn-producto {
        font-size: 7.5pt;
        padding: 11px!important;
    }
}